[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
awscli = "*"
python-dotenv = ">=0.5.1"

[dev-packages]
pytest = "*"
"flake8" = "*"
pylint = "*"
coverage = "*"
pytest-cov = "*"
mypy = "*"
pydocstyle = "*"

[requires]
python_version = "3.6"
